### Augabe 1:

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

pd.options.mode.chained_assignment = None  # avoid slide-copy-warning

In [19]:
df = pd.read_csv("../data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
df_selection = df[["Survived", "Pclass", "Age", "SibSp", "Parch", "Fare"]]
df_selection.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [21]:
df_X = df_selection.drop(columns = ["Survived"])
df_y = df_selection["Survived"]
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=0)

In [22]:
X_train.isna().sum()

Pclass      0
Age       141
SibSp       0
Parch       0
Fare        0
dtype: int64

In [23]:
age_mean = X_train['Age'].mean()
print("Age mean:", age_mean)
X_train['Age'] = X_train['Age'].fillna(age_mean)
X_train.isna().sum()

Age mean: 29.745183887915935

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

### Augabe 2:

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_scaled = scaler.transform(X_train)

In [25]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_scaled, y_train)

LogisticRegression(max_iter=1000)

In [26]:
# N/As löschen und features skalieren
X_test = X_test.dropna()
X_test_scaled = scaler.transform(X_test)

In [27]:
# N/As auch in y_test löschen
y_test = y_test[X_test.index]
y_test.shape

(143,)

In [28]:
predictions = logisticRegr.predict(X_test_scaled)

In [29]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
print("Accuracy", accuracy_score(y_test, predictions))
print("Precision", precision_score(y_test, predictions))
print("Recall", recall_score(y_test, predictions))

Accuracy 0.7272727272727273
Precision 0.75
Recall 0.5084745762711864